html {
  scroll-behavior: smooth;
}
*{
  box-sizing: border-box;
}
*::-webkit-scrollbar {
  width: 5px;
}
*::-webkit-scrollbar-track {
  background-color: transparent;
}
*::-webkit-scrollbar-thumb {
  width: 5px;
  background: #707070;
  border-radius: 5px;
}
/*gray*/
.text-gray {
  color: #707070;
}
.bg-gray {
  background-color: #707070;
}

/*celeste*/
.text-blue {
  color: #8BD9F5;
}
.bg-blue {
  background-color: #8BD9F5;
}

/*verde*/
.text-green {
  color: #B8ECFF;
}
.bg-green {
  background-color: #B8ECFF;
}

/*lila*/
.text-purple {
  color: #EE8BDD;
}
.bg-purple {
  background-color: #EE8BDD;
}

/*rosado*/
.text-pink {
  color: #FFC9F5;
}
.bg-pink {
  background-color: #FFC9F5;
}

/*amarillo*/
.text-yellow {
  color: #F5E78B;
}
.bg-yellow {
  background-color: #F5E78B;
}

.border-blue {
   border-color: #8BD9F5;
}


/*selecionar*/
.select {
  color: white;
  background-color: #B8ECFF;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.25rem;
  transition: .5s;
}
.triangulo {
  position: absolute;
  top: 80%;
  transition: .5s;
}

/*modificaciones*/
.top-25 {
  top: 25%;
}
.top-70 {
  top: 70%;
}
.left-10 {
  left: -10%;
}
.right-2 {
  right: -2%;
}
.right-7 {
  right: -7%;
}
.w-70 {
  width: 22rem;
}
.h-70 {
  height: 22rem ;
}

.cont_card::before {
  content: '';
  width: 45%;
  height: 35%;
  background-color: #8BD9F5;
  position: absolute;
  top: -50px;
  left: -50px;
  z-index: -10;
  opacity: 0.25;
}
.cont_card::after {
  content: '';
  width: 45%;
  height: 35%;
  background-color: #8BD9F5;
  position: absolute;
  bottom: -50px;
  right: -50px;
  z-index: -10;
  opacity: 0.25;
}
.card::before {
  content: '';
  width: 45%;
  height: 35%;
  background-color: #8BD9F5;
  position: absolute;
  top: -25px;
  left: -25px;
  z-index: -10;
  opacity: 0.25;
}
.card::after {
  content: '';
  width: 45%;
  height: 35%;
  background-color: #8BD9F5;
  position: absolute;
  bottom: -25px;
  right: -25px;
  z-index: -10;
  opacity: 0.25;
}

.visualizar {
  opacity: 0;
  transition: .5s;
}
.visualizar:hover {
  opacity: .75;
}


/*Menu*/
@media (max-width: 767px) {

  #btnMenu{
    width: 30px;
    height: 30px;
    background-color: transparent;
    background-image: url('../icon/menu.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    outline: none;
    cursor: pointer;
    transition: .5s;
  }
  #btnMenu:hover{
    transform: rotateZ(90deg);
  }
  .img-menu-x {
    transform: rotateZ(180deg) !important;
    background-image: url('../icon/cerrar.svg') !important;
  }
  .menu {
    top:-350%;
    transition: .5s;
  }
  .menu-x {
    top:0%;
    transition: .5s;
  }
  
}